.table {
  .table-head {
    border: 3px solid #8e7b9e;
    text-align: center;

    .table-row:nth-child(even) {
      background-color: #8ed8d8;
    }

    .table-header {
      border: 3px solid #8e7b9e;
      padding: 22px 18px;
      color: #8ed8d8;
      font-size: 20px;
    }
  }
}