.garage__track {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;

  .server-not-found{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #deb9fb;
    font-size: 37px;
    font-family: "Raleway Dots", sans-serif;
  }
  p{
    color: white;
    a{
      color: #8ed8d8;
      font-weight: 800;
    }
  }
}

.garage-pagination__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


