$purple-shadow: 14px 5px 20px 0px #9d46e4, -11px -10px 20px 0px #8d2bd9;
$aqua-shadow: 2px 6px 20px 3px #2191a6, -7px -8px 20px -6px #42b7ce;

#navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 1280px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background: white;

    .navbar-title-block__aqua-arrows,
    .navbar-title-block__purple-arrows {
      display: flex;
    }

    .navbar-title-block__purple-arrows {
      padding-top: 85px;
    }
    .navbar-title-block__aqua-arrows{
      padding-top: 25px;
    }
    .logo {
      margin: 33px;

      .logo-purple-line {
        border: 4px solid #DEB9FBFF;
        border-radius: 10%;
        width: 170px;
        height: 100px;
        box-shadow: $purple-shadow;
        transform: rotate(-7deg);
      }

      .logo-aqua-line {
        border: 4px solid #A7EFEFFF;
        border-radius: 10%;
        width: 140px;
        height: 70px;
        box-shadow: $aqua-shadow;
        margin: 10px;

        p {
          color: #FFFFFF;
          font-size: 20px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          /* align-items: center; */
          text-shadow: 0 0 7px rgb(252, 252, 252), 0 0 42px #8756ad, 0 0 21px rgb(252, 252, 252), 0 0 42px #8756ad, 0 0 151px rgb(237, 5, 112);
          transform: rotate(6deg);
          width: 90px;
          margin: 5px 19px;
          text-align: center;
          //text-shadow: 0 0 7px rgb(252, 252, 252), 0 0 10px #3dd0ec, 0 0 21px rgb(252, 252, 252), 0 0 42px #8756ad, 0 0 82px rgb(38 171 182), 0 0 92px #8756ad, 0 0 102px rgb(35 133 137), 0 0 151px rgb(71 193 200);
          text-shadow: 14px 5px 20px 0px #9d46e4, -11px -10px 20px 0px #8d2bd9;
          transform: rotate(6deg);
        }
      }
    }

    .navbar__button-block {
      display: flex;
      align-items: flex-end;
      margin-top: -65px;
   li:nth-child(1){
     margin-right: 10px;
   }
    }

    .navbar__title-block {
      display: flex;
    }
  }


}