.table {
  width: 100%;
  border-collapse: collapse;
}

.winners-footer__pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;


  .winners-pagination__container {
    height: 50px;
    display: flex;
    justify-content: space-between;

    h3 {
      color: #deb9fb;
      display: flex;
      white-space: nowrap;
      align-items: center;
    }
    button{
      margin-top: 7px;
    }

  }

}

