#garage {
    display: flex;
    justify-content: center;

}
#winners{
    display: flex;
    justify-content: center;
    h2{
        color: #7fcddc;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 40px
    }
}