.table {
    .table-data {
      padding: 5px 0;
      border: 3px solid #8e7b9e;
      text-align: center;
      width: 20%;
      color: #8ed8d8;
      font-family: "Raleway Dots", sans-serif;
      font-size: 25px;
      font-weight: bold;

  }
  .table-data svg{
    height: 55px;
  }
  .number{
    width: 4%;
  }
}
