.garage-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

  h3 {
    color: #8ed8d8;
  }

  .garage-footer__pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h3 {
      color: #DEB9FBFF;
    }
  }
}


