//.controls {
//  &__create,
//  &__update {
//    margin: 1rem 0;
//    display: flex;
//    justify-content: flex-start;
//    align-items: center;
//    gap: 1rem;
//  }
//
//  &__input {
//    box-sizing: border-box;
//    height: 3.5rem;
//  }
//
//  &__race {
//    display: flex;
//    flex-wrap: wrap;
//    gap: 1rem;
//  }
//}
#garagePage__button-block {
  //background: red;
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px;


  .race-block button:nth-child(1) {
    margin-right: 12px;
  }

  .race-block {
    display: flex;

    button svg {
      margin-left: 7px;
      width: 20px;
    }
  }

  .create-update__container {
    display: flex;
    width: 55%;
    justify-content: space-between;
    .update-block{
      //margin-right: 55px;
    }
    .create-block, .update-block {
      display: flex;

      button {
        width: 100px;
      }

      input {
        border-radius: 7px;
        border: none;
        text-align: center;
      }

      .color-picker {
        height: 32px;
        width: 32px;
        margin: 2px 7px 2px 7px;
      }
    }
  }
}