.garage-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: rgb(175 147 185 / 43%);
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
  .garage-message__show {
      display: block;
    }

  .garage-message__hide {
      display: none;
    }
