@media screen and (max-width: 1055px) {
  #navbar {
    .navbar__title-block {
      .navbar-title-block__aqua-arrows {
        display: none;
      }

      .navbar-title-block__purple-arrows {
        padding-top: 65px;
      }
    }
  }
  #garagePage__button-block {
    flex-direction: column;

    .create-update__container {
      flex-direction: column;

      .create-block,
      .update-block {
        margin-bottom: 15px;
      }

      .create-block .button__create,
      .update-block .button__edit {
        width: 133px;

      }
    }

    .race-block {
      margin-bottom: 15px;

      button {
        width: 150px;
      }
    }

    .button__generate {
      width: 310px;
    }

    .controls__race {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 850px) {
  svg{
    width: 90px;
  }
  .btn-big {
    font-size: 20px;
  }
  #navbar {
    .navbar__button-block{
      margin-top: -45px!important;
    }
    .navbar__title-block {
      .navbar-title-block__purple-arrows {
        display: none;
      }

      .logo {
        .logo-purple-line {
          width: 130px;
          height: 80px;
        }

        .logo-aqua-line {
          width: 100px;
          height: 50px;

          p {
            font-size: 15px;
            margin: 3px 1px;
            white-space: pre-wrap;
          }
        }
      }
    }
  }
  #garagePage__button-block {
    .create-update__container {
      width: 100%!important;
    }
  }
  #winners{
    table{
      .table-head .table-header{
        font-size: 17px;
      }
      .table-row .table-data{
        font-size: 20px;
      }
    }
  }
}