$shadow: 10px 10px 20px 0px #A6B4C8B2, -12px -12px 20px 0px #FFFFFFCC;
$background: linear-gradient(134.17deg, #EEF0F5 46.99%, #E6E9EF 94.88%);
$primary-color: #2877EE;
$secondary-color: #15274B;
$white: #FFFFFF;
$color-orange: #FF5F00;
$aqua: #4bafc1;
$light-aqua: #8ed8d8;
$purple: #8756ad;
$light-purple: #DEB9FBFF;
$light-green: #9ccca0;
$green: #56a55b;
$light-yellow: #e7e19b;
$yellow: #c6bb3d;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
}

body {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  min-height: 100vh;
  min-width: 360px;
  position: relative;
  background-image: url('../../assets/images/abstract-blue.jpg');
  //background-image: url('../../../../blue-brick-wall-background.png');
  background-position: center;
  background-size: 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  width: 100%;
  border-radius: 10px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
}

.btn-aqua  {
  color: $light-aqua;

  svg {
    fill: $light-aqua;
  }
}
.btn-aqua:hover{
  border: 2px solid $aqua;
}

.btn-purple {
  color: $light-purple;

  svg {
    fill: $light-purple;
  }
}
.btn-purple:hover{
  border: 2px solid $purple;
}

.btn-green {
  color: $light-green;

  svg {
    fill: $light-green;
  }
}
.btn-green:hover{
  border: 2px solid $green;
}

.btn-yellow {
  color: $light-yellow;

  svg {
    fill: $light-yellow;
  }
}
.btn-yellow:hover{
  border: 2px solid $yellow;
}

.btn-big {
  padding: 6px 19px;
  font-size: 21px;
  border: 3px solid;
}

.btn-medium {
  padding: 7px 12px;
  border: 3px solid;
}

.btn-small {
  padding: 4px 9px;
  border: 2px solid;
  display: flex;
  justify-content: space-between;
}

.btn-square {
  border: 2px solid;
  width: 27px;
  height: 20px;
}
.button--disabled{
  opacity: 0.6;
}
.arrows {
  width: 70px;
}

input {
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 130px;
}

input::placeholder {
  color: #DEB9FBFF;
}

svg {
  width: 110px;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container {
    display: flex;
    justify-content: space-around;
    width: 200px;
    padding: 60px 0 30px 0;

    .octicon-mark-github {
      width: 25px;
    }

    .rs-school {
      width: 60px;
    }

    p {
      color: #FFFFFF;
      font-size: 18px;
      margin-top: 5px;

    }
  }
}

.garage-pagination__container, .winners-pagination__container {
  button {
    width: 40px;
    height: 35px;
    margin: 0 5px;
    position: relative;
    cursor: pointer;
    border: none;
  }

  button:active svg {
    fill: #deb9fb;
  }

  button:disabled svg {
    fill: #947fa5;
    cursor: auto;
  }

  button:hover {
    background-color: #8ed8d8;
  }

  .pagination-icon {
    position: absolute;
    font-size: 22px;
  }
}