.info {
  .info__wrapper {
    display: flex;
    flex-direction: column;

    .info__button-wrapper {
      box-sizing: border-box;
      position: relative;
      margin-top: 5px;

      .info__button {
        svg {
          width: 32px;
          height: 15px;
        }
      }

    }

  }

}
